<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user, local: true) do |f| %>
  <p>
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username, placeholder: "Enter username" %>
  </p>
  <p>
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email, placeholder: "Enter email" %>
  </p>
  <p>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password, placeholder: "Choose a password" %>
  </p>
  <p>
    <%= f.submit "Sign Up", class: "btn" %>
  </p>
<% end %>